# Rice-agnostic base
# Rice-independent keybinds
bind = Alt, R, exec, fish -c rice-switcher
bind = Super, R, exec, pkill rofi || rofi -show drun
bind = Super, T, exec, kitty
bind = Super, E, exec, dolphin
bind = Super, B, exec, firefox

# nwg-displays
source = ~/.config/hypr/workspaces.conf
source = ~/.config/hypr/monitors.conf

# Rice-specific config
source = ~/.local/share/rices/{{ .rice.active }}/hypr/rice.conf

# Execute current rice start
exec-once = bash ~/.local/share/rices/{{ .rice.active }}/scripts/start.sh
