# Base config (rice-independent)
source = /home/{{ .chezmoi.username }}/.local/share/chezmoi/rice-configs/base.conf

# Rice-specific config
source = /home/{{ .chezmoi.username }}/.local/share/chezmoi/rice-configs/{{ .currentRice }}/{{ .currentRice }}.conf

# Execute current rice start
exec-once = bash /home/{{ .chezmoi.username }}/.local/share/chezmoi/rice-configs/{{ .currentRice }}/{{ .currentRice }}.start
