{{ if eq .qsConfig "ii" }}
# ====== ILLOGICAL IMPULSE ======
$qsConfig = ii
exec = hyprctl dispatch submap global
submap = global
source=hyprland/env.conf
source=custom/env.conf
source=hyprland/execs.conf
source=hyprland/general.conf
source=hyprland/rules.conf
source=hyprland/colors.conf
source=hyprland/keybinds.conf
source=custom/execs.conf
source=custom/general.conf
source=custom/rules.conf
source=custom/keybinds.conf
source=workspaces.conf
source=monitors.conf

{{ else if eq .qsConfig "caelestia" }}
# ====== CAELESTIA ======
$hypr = ~/.local/share/caelestia/hypr
$hl = $hypr/hyprland
$cConf = ~/.config/caelestia
exec = cp -L --no-preserve=mode --update=none $hypr/scheme/default.conf $hypr/scheme/current.conf
source = $hypr/scheme/current.conf
source = $hypr/variables.conf
exec = $hypr/scripts/configs.fish $cConf
source = $cConf/hypr-vars.conf
monitor = , preferred, auto, 1
source = $hl/env.conf
source = $hl/general.conf
source = $hl/input.conf
source = $hl/misc.conf
source = $hl/animations.conf
source = $hl/decoration.conf
source = $hl/group.conf
source = $hl/execs.conf
source = $hl/rules.conf
source = $hl/gestures.conf
source = $hl/keybinds.conf
source = $hl/scrolling.conf
source = $cConf/hypr-user.conf

{{ end }}
