$qsConfig = compiled

exec = hyprctl dispatch submap global
submap = global

# Rice-independent keybinds
source = {{ .chezmoi.homeDir }}/.local/share/chezmoi/rice-configs/base.conf

# Environment variables
source = {{ .chezmoi.homeDir }}/.config/hypr/hyprland/env.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/custom/env.conf

# Compiled rice execs
source = {{ .chezmoi.homeDir }}/.config/hypr/hyprland/execs-compiled.conf

# Keybinds
bind = Super, R, exec, hyprlauncher
bind = Super, N, exec, swaync-client -t
bind = Super, V, exec, cliphist list | hyprlauncher --dmenu | cliphist decode | wl-copy

# Defaults
source = {{ .chezmoi.homeDir }}/.config/hypr/hyprland/general.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/hyprland/rules.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/hyprland/colors.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/hyprland/keybinds.conf

# Custom
source = {{ .chezmoi.homeDir }}/.config/hypr/custom/general.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/custom/rules.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/custom/keybinds.conf

# nwg-displays
source = {{ .chezmoi.homeDir }}/.config/hypr/workspaces.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/monitors.conf
