* {
	border: none;
	font-size: 14px;
	font-family: "JetBrainsMono Nerd Font, JetBrainsMono NF" ;
	min-height: 2em;
	background: #16160c;
}

#window {
    min-width: 12em;
}

#backlight,
#battery,
#bluetooth,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#custom-weather,
#disk,
#idle_inhibitor,
#jack,
#memory,
#network,
#power-profiles-daemon,
#pulseaudio,
#temperature,
#tray,
#window,
#workspaces,
#clock {
	padding: 0 8px;
}

#temperature.critical,
#pulseaudio.muted {
	color: #FF0000;
	padding-top: 0;
}

#battery.charging {
	color: #ffffff;
	background-color: #26A65B;
}

#battery.warning:not(.charging) {
	background-color: #ffbe61;
	color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
