* {
	font-size: 14px;
	font-family: "JetBrainsMono Nerd Font, JetBrainsMono NF";
	color: #121212;
}

window#waybar{
	background-color: transparent;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

#backlight,
#battery,
#disk,
#idle_inhibitor,
#jack,
#networking,
#performance,
#pulseaudio,
#hardware,
#tray,
#custom-notification,
#window,
#workspaces,
#keyboard,
#custom-ScrollMPRIS,
#clock {
	background: rgba(51, 51, 51, 0.5);
	border-radius: 15px;
	padding: 2px 8px;
}

#bluetooth,
#network{
	padding: 8px;
}

#language,
#keyboard-state{
	padding: 4px;
}

#cpu,
#memory,
#temperature{
	padding: 4px;
}

#power-profiles-daemon,
#gamemode{
	padding: 8px;
}

#temperature.critical,
#pulseaudio.muted {
	color: #CC3333;
}

#battery.charging {
	color: #ffffff;
	background-color: #26A65B;
}

#battery.warning:not(.charging) {
	background-color: #ffbe61;
	color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
